.example-container {
    
  }
  
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    grid-column:1 /span 3;
  }

  .redRow {
    background-color: lightpink
  }

  .greenRow {
    background-color: #deffde;
  }

  .mat-header-row {
    background-color: #165687;
    color:white;
  }

  .mat-header-cell {
    color:white;
    font-size:larger;
  }

  .mat-cell > i {
    margin-left: 20px;
  }

  .mat-button-base {
    margin:0 5px 0 5px;
    flex: 1;    
    background-color:#165687;
  }

    .mat-button-base:last-child {
      margin:0 0 0 5px;
    }

  .filters {
    display: grid;
    grid-template: 60px 60px / repeat(9,auto) repeat(3,220px); 
    grid-row-gap: 10px;
    margin-bottom: 10px;
  }

  .filters:first-child {
    margin-top:100px;
  }

  .filters > .mat-form-field {
    flex:3;
  }

  wps-table-component {
    margin-top:50px;
  }

  .mat-card-title {
    font-size: inherit;
  }

  .siteStatus {
    display:flex;
    grid-column:10 / span 3;    
  }

  .siteStatusCard {
    margin:0 5px 0 5px;
    width:211px;
    flex:1;
    background-color: #deffde;
  }

  .siteStatusCard:last-child {
    margin:0 0 0 5px;
  }

  /deep/ .filters .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 2.55em;
  }

  .suspendAllButton {
    grid-column:1 / span 3;
    color: black;    
    margin: 0;
  }

  .suspendAllDialogButton {
    background-color:red;
    color:white;
  }

  .suspended {
    background-color: lightpink;
  }

  .unsuspended {
    background-color: #deffde;
  }

  .mat-cell > button {
    background-color: transparent;
    
  }