
<div class="filters">
    
  <button mat-stroked-button (click)="suspendAll($event)" class="suspendAllButton unsuspended">{{suspended == true ? 'UNSUSPEND ALL' : 'SUSPEND ALL'}}</button>
  <div class="siteStatus">
  <mat-card class="siteStatusCard">
    <mat-card-header>
      <i class="material-icons">done</i>
      <mat-card-title>Fire Crew</mat-card-title>
      <mat-card-subtitle>Available</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="siteStatusCard">
    <mat-card-header>
      <i class="material-icons">done</i>
      <mat-card-title>EROs</mat-card-title>
      <mat-card-subtitle>Available</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="siteStatusCard" style="background-color:lightpink">
    <mat-card-header>
      <i class="material-icons">close</i>
      <mat-card-title>CSE - Entry Leaders</mat-card-title>
      <mat-card-subtitle>Unavailable</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Permit No, Type, etc">
</mat-form-field>
<div class="siteStatus">
  <button mat-flat-button color="primary">My Actions</button>
  <button mat-flat-button color="primary">My Permits</button>
  <button mat-flat-button color="primary">All Permits</button>
</div>
</div>

<div class="example-container mat-elevation-z2">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-button [matMenuTriggerFor]="menu"><i class="actions material-icons">more_horiz</i></button></td>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Acknowledge</button>
          <button mat-menu-item>Approve</button>
          <button mat-menu-item>Action 1</button>
          <button mat-menu-item>Action 2</button>
        </mat-menu>
      </ng-container> 
      <!-- Position Column -->
      <ng-container matColumnDef="permitType">
        <th mat-header-cell *matHeaderCellDef>Permit Type</th>
        <td mat-cell *matCellDef="let element">{{element.permitType}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="permit">
        <th mat-header-cell *matHeaderCellDef> Permit </th>
        <td mat-cell *matCellDef="let element"> {{element.permit}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>
      <ng-container matColumnDef="issuedTime">
        <th mat-header-cell *matHeaderCellDef> Issued Time </th>
        <td mat-cell *matCellDef="let element"> {{element.issuedTime | amDateFormat: 'MMM DD'}} </td>
      </ng-container>
      <ng-container matColumnDef="asset">
        <th mat-header-cell *matHeaderCellDef> Asset </th>
        <td mat-cell *matCellDef="let element"> {{element.asset}} </td>
      </ng-container>
      
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Permit Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="pendingOn">
        <th mat-header-cell *matHeaderCellDef> Pending On </th>
        <td mat-cell *matCellDef="let element"> {{element.pendingOn}} </td>
      </ng-container>
      <ng-container matColumnDef="securityAck">
        <th mat-header-cell *matHeaderCellDef width="90px"> Security Ack </th>
        <td mat-cell *matCellDef="let element"> <i *ngIf="element.securityAck != null" class="material-icons">{{element.securityAck ? 'done' : 'close'}}</i> </td>
      </ng-container>
      <ng-container matColumnDef="securityApproved">
        <th mat-header-cell *matHeaderCellDef width="90px"> Security Approval </th>
        <td mat-cell *matCellDef="let element"> <i *ngIf="element.securityApproved != null" class="material-icons">{{element.securityApproved ? 'done' : 'close'}}</i> </td>
      </ng-container> 
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <i class="material-icons">comments</i></td>
      </ng-container>     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.securityApproved == false ? 'redRow' : (row.securityAck == true ? 'greenRow' : '')"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
