.example-container {
    
  }
  
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .redRow {
    background-color: lightpink
  }

  .greenRow {
    background-color: #deffde;
  }

  .mat-header-row {
    background-color: #165687;
    color:white;
  }

  .mat-header-cell {
    color:white;
    font-size:larger;
  }

  .mat-cell > i {
    margin-left: 20px;
  }

  .mat-button-base {
    margin:0 5px 0 5px;
    flex: 1;
    width:150px;
    background-color:#165687;
  }

    .mat-button-base:last-child {
      margin:0 0 0 5px;
    }

  .filters {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    height:60px;
  }

  .filters:first-child {
    margin-top:100px;
  }

  .filters > .mat-form-field {
    flex:3;
  }

  wps-table-component {
    margin-top:50px;
  }

  .slide-suspend-all {
    flex:3;
    align-self: center;
  }

  /deep/ .slide-suspend-all .mat-slide-toggle-bar {
    background-color:green;
  }

  /deep/ .slide-suspend-all.mat-checked .mat-slide-toggle-bar {
    background-color:lightpink;
  }

  /deep/ .mat-slide-toggle-content {
    font-size:larger;
  }

  .mat-card-title {
    font-size: inherit;
  }

  .siteStatusCard {
    margin:0 5px 0 5px;
    width:211px;
    flex:1;
    background-color: #deffde;
  }

  .siteStatusCard:last-child {
    margin:0 0 0 5px;
  }

  /deep/ .filters .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 2.55em;
  }